
body
{
	margin: 0px;
	padding: 0px;
	background-color: rgba(42, 48, 54);
	color: #000080;
	font-family: 'Open Sans', sans-serif;
}

.row
{
	width: 99%;
}


/**/
.navbar
{
   	padding-left: 150px;
	background-color: rgb(64, 76, 88);
}

.menuitem
{
	color: rgb(240, 240, 240);
}

.menuitem:hover
{
	color: rgb(250, 250, 250);
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: none;
}

/* */
.header
{
	margin-top: 100px;
	margin-bottom: 20px;
	text-align: center;
}

.title
{
	color: #7cb7dd;
}

/* */


.userinput
{
	margin-bottom: 10px;
	text-align: center;
}

#dates
{
	text-align: center;
        cursor: pointer;
}

#count
{
	color: rgb(220, 220, 220);
	margin-top: 12px;
	width: 225px;
	float: left;
}

.icons
{
	margin-left: 10px;
}

#loading
{
	margin-top: 5px;
}

#cog
{
	font-size: 20px;
	color: rgb(220, 220, 220);
}

#download
{
	cursor: pointer;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#searcharea
{
	width: 243px;	
	float: right;
	padding-bottom: 20px;
}

#searchlogo
{
	color: rgb(220, 220, 220);
	padding-right: 10px;
}

#searchbar
{
}

/**/

#mygraph
{
	margin-bottom: 10px;
}

/**/
.content
{
	margin-left: 150px;
	margin-right: 40px;
	margin-bottom: 25px;
}


.tablehead
{
	color: rgb(220, 220, 220);
}

.tablehead:hover
{
	color: rgb(220, 220, 220);
}

