<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8" />
        <title> Employee Statistics </title>       
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="http://braintrust-us.com/wp-content/uploads/2016/11/cropped-BrainTrustIcon-1-192x192.png" />

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/artzfartz.css">
    </head>

    <body ng-app="myApp">
    
        <div class="navbar">
            <div class="row">
                <div class="col">
                    <a class="menuitem" href="/"> Home </a>
                </div>
            </div>
        </div>

        <div class="header">
            <div class="row">
                <div class="col">
                    <h2 class="title"> Employee Statistics </h2>
                </div>
            </div>
        </div>

        <div id="main" ng-controller="MainController" ng-init="init()">
            <div class="userinput">
                <div class="row">
                    <div class="col">
                        <input class="u-full-width" type="text" name="dates" id="dates" />
                        <div id="loading"> </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="row">
                    <div class="graphbox col">
                        <div id="mygraph"> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="clearfix col">

                        <div id="count">
                            <h6> 
                                <span ng-bind="showing"></span>
                                <i id="download" class="icons fa fa-download" aria-hidden="true" ng-click="download()"></i>
                                <span ng-show="saved == 'true'"> Saved </span>
                            </h6>
                        </div>      
                        <div id="searcharea">
                            <i id="searchlogo" class="fa fa-search" aria-hidden="true"></i>
                            <input id="searchbar" class="u-full-width" type="text" ng-model="whittle" type="text" />
                        </div>

                        <table class="table table-dark table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th> 
                                        <a class="tablehead" href="#" ng-click="orderByField='code'; reverseSort = !reverseSort">
                                            Code
                                            <span ng-show="orderByField != 'code'">
                                                <i class="fa fa-fw fa-sort"></i>
                                            </span>
                                            <span ng-show="orderByField == 'code'">
                                                <span ng-show="!reverseSort">
                                                    <i class="fa fa-fw fa-sort-up"></i>
                                                </span>
                                                <span ng-show="reverseSort">
                                                    <i class="fa fa-fw fa-sort-down"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </th>
                                    <th>
                                        <a class="tablehead" href="#" ng-click="orderByField='lastName'; reverseSort = !reverseSort">
                                            Last Name
                                            <span ng-show="orderByField != 'lastName'">
                                                <i class="fa fa-fw fa-sort"></i>
                                            </span>
                                            <span ng-show="orderByField == 'lastName'">
                                                <span ng-show="!reverseSort">
                                                    <i class="fa fa-fw fa-sort-up"></i>
                                                </span>
                                                <span ng-show="reverseSort">
                                                    <i class="fa fa-fw fa-sort-down"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </th>
                                    <th>
                                        <a class="tablehead" href="#" ng-click="orderByField='firstName'; reverseSort = !reverseSort">
                                            First Name
                                            <span ng-show="orderByField != 'firstName'">
                                                <i class="fa fa-fw fa-sort"></i>
                                            </span>
                                            <span ng-show="orderByField == 'firstName'">
                                                <span ng-show="!reverseSort">
                                                    <i class="fa fa-fw fa-sort-up"></i>
                                                </span>
                                                <span ng-show="reverseSort">
                                                    <i class="fa fa-fw fa-sort-down"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </th>
                                    <th>
                                        <a class="tablehead" href="#" ng-click="orderByField='worked'; reverseSort = !reverseSort">
                                            Worked
                                            <span ng-show="orderByField != 'worked'">
                                                <i class="fa fa-fw fa-sort"></i>
                                            </span>
                                            <span ng-show="orderByField == 'worked'">
                                                <span ng-show="!reverseSort">
                                                    <i class="fa fa-fw fa-sort-up"></i>
                                                </span>
                                                <span ng-show="reverseSort">
                                                    <i class="fa fa-fw fa-sort-down"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </th>
                                    <th>
                                        <a class="tablehead" href="#" ng-click="orderByField='available'; reverseSort = !reverseSort">
                                            Available
                                            <span ng-show="orderByField != 'available'">
                                                <i class="fa fa-fw fa-sort"></i>
                                            </span>
                                            <span ng-show="orderByField == 'available'">
                                                <span ng-show="!reverseSort">
                                                    <i class="fa fa-fw fa-sort-up"></i>
                                                </span>
                                                <span ng-show="reverseSort">
                                                    <i class="fa fa-fw fa-sort-down"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </th>
                                    <th> 
                                        <a class="tablehead" href="#" ng-click="orderByField='utilization'; reverseSort = !reverseSort">
                                            Utilization
                                            <span ng-show="orderByField != 'utilization'">
                                                <i class="fa fa-fw fa-sort"></i>
                                            </span>
                                            <span ng-show="orderByField == 'utilization'">
                                                <span ng-show="!reverseSort">
                                                    <i class="fa fa-fw fa-sort-up"></i>
                                                </span>
                                                <span ng-show="reverseSort">
                                                    <i class="fa fa-fw fa-sort-down"></i>
                                                </span>
                                            </span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in tabledata | orderBy:orderByField:reverseSort | filter:whittle">
                                    <td ng-bind="row.code"> </td>
                                    <td ng-bind="row.lastName"> </td>
                                    <td ng-bind="row.firstName"> </td>
                                    <td ng-bind="row.worked"> </td>
                                    <td ng-bind="row.available"> </td>
                                    <td ng-bind="row.utilization"> </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
 

        <!-- Bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script> 
        <script type="text/javascript" src="/static/js/angularjs/angapp.js"></script>
        <script type="text/javascript" src="/static/js/angularjs/controllers/MainController.js"></script>

        <!-- Dates -->   
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <!-- Charts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

        <!-- My Scripts -->
        <script type="text/javascript" src="/static/js/mine/dates.js"></script>
        <script type="text/javascript" src="/static/js/mine/chart.js"></script>
    
    </body>

</html>
